{% extends 'base.html' %}

{% block body %}
    <h2> Recipes: </h2>
    <ul>
        {% for recipe in recipes %}
            <li><a href= {{recipe.get_absolute_url}}> {{ recipe.name }}</a></li>
            <ul>
                <li>Ingredients</li>
                    <ul>
                        {% for recipe_ingredient in recipe.recipe_ingredients.all %}
                            <li>{{recipe_ingredient.quantity}} {{recipe_ingredient.ingredient.name}}</li>
                        {% endfor %}
                    </ul>
                </ul>
        {% endfor %}
    </ul>
{% endblock %}
